asgiref==3.11.0
colorama==0.4.6
Django==6.0
django-formtools==2.5.1
django-otp==1.6.3
django-phonenumber-field==8.4.0
django-two-factor-auth==1.18.1
gunicorn==23.0.0
packaging==25.0
phonenumbers==8.13.55
qrcode==8.2
sqlparse==0.5.4
tzdata==2025.2
